/*-- Research Page --*/
.wall-background {
	background: url(/images/wall.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}
.bookshelf {
	background: url(/images/newresearch.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	margin: 0px auto;
	display: block;
	height: 800px;
	width: 560px;
	position: relative;
}
.wall-background a {
	font-size: 30px;
	font-family: "Avenir Next";
	font-weight: 100;
	color: white;
	text-decoration: none;
}
.bookshelfRow1 {
	padding-top: 4%;
}
.shelf1 {
	padding: 10%;
	height: 22%;
	width: 44%;
	margin-left: 14px;
	position: absolute;
	opacity: 0;
	border: 1px solid white;
	transition: all 0.3s ease-in-out;
}
.shelf1:hover {
	opacity: 1;
	background: rgba(0, 0, 0, 0.7);
}
.shelf2 {
	padding: 10%;
	height: 22%;
	width: 44%;
	margin-left: 300px;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	border: 1px solid white;
}
.shelf2:hover {
	opacity: 1;
	background: rgba(0, 0, 0, 0.7);
}
.bookshelfRow2 {
	margin-top: 36%;
}
.shelf3 {
	padding: 12%;
	height: 21%;
	width: 44%;
	margin-left: 13px;
	position: absolute;
	opacity: 0;
	border: 1px solid white;
	transition: all 0.3s ease-in-out;
}
.shelf3:hover {
	opacity: 1;
	background: rgba(0, 0, 0, 0.7);
}
.shelf4and5 {
	padding: 20% 10px 0 10px;
	height: 46%;
	width: 43%;
	margin-left: 305px;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	border: 1px solid white;
}
.shelf4and5:hover {
	opacity: 1;
	background: rgba(0, 0, 0, 0.7);
}
.bookshelfRow3 {
	margin-top: 70%;
}
.shelf6 {
	padding: 8%;
	height: 22%;
	width: 44%;
	margin-left: 13px;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	border: 1px solid white;
}
.shelf6:hover {
	opacity: 1;
	background: rgba(0, 0, 0, 0.7);
}
.lastshelf {
	margin-top: 35%;
	height: 22%;
	width: 95%;
	margin-left: 13px;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	border: 1px solid white;
	padding-top: 10%;
	color: white;
	font-size: 30px;
	font-family: "Avenir Next";
	font-weight: 100;
}
.lastshelf:hover {
	opacity: 1;
	background: rgba(0, 0, 0, 0.7);
}
.book-return img {
	width: 5%;
	height: auto;
	float: left;
	margin: -700px 0px 0px 50px;
	position: absolute;
}
@media (max-width: 725px) {
	.book-return img {
		background-color: white;
	}
}
/*-- Internal Research/Main Page --*/
.logoutBtn {
	margin-top: 5px;
	background-color: #d84727;
	color: white;
	font-family: "Avenir Next";
	font-size: 15px;
	font-weight: 100;
	text-transform: uppercase;
	border-radius: 4px;
}
.opensafe {
	display: block;
	margin: 0 auto;
	height: 100vh;
	/*width: 95%;
	margin: 30px 0px 0px 30px;*/
	/*height: 100vh;*/
	/*background: url(/images/opensafe.jpg) no-repeat center center;
	background-size: cover;*/
}
.opensafe h1 {
	color: black;
	text-align: center;
	font-family: "Avenir Next";
	text-transform: uppercase;
	/*font-size: 50px;*/
	font-weight: normal;
}
.InternalResearchBackground {
	background: url(/images/woodpanel.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.heading p {
	font-family: "Avenir Next";
	font-size: 50px;
	font-weight: normal;
	/*text-transform: uppercase;*/
	color: black;
	background-color: white;
	opacity: 0.7;
	position: absolute;
	z-index: 2;
	margin-top: 20px;
	padding-left: 60px;
	padding-right: 20px;
}
@media (max-width: 845px) {
	.heading p {
		font-size: 35px;
	}
}
@media (max-width: 640px) {
	.heading p {
		font-size: 25px;
	}
}
.InternalResearchList {
	padding-top: 110px;
}
.browse-list-right {
	font-family: "Avenir Next";
	font-size: 19px;
	font-weight: normal;
	text-align: center;
	padding: 5px 0 5px 0;
	margin: 0px auto;
	background-color: white;
	opacity: 0.8;
}
.browse-list button {
	background-color: #d84727;
	font-family: "Avenir Next";
	font-size: 15px;
	font-weight: 100;
	text-transform: uppercase;
}
.browse-list a {
	color: white;
}

/*-- External Research --*/
.ExternalResearchBackground {	
	width: 100vw;
	height: 100vh;
	font-family: "Avenir Next";
}
.listOfExternalResearch {
	padding: 10% 0 0px 10%;
}
.listOfExternalResearch a {
	font-size: 20px;
	color: #d84727;
}
.listOfExternalResearch p {
	padding-bottom: 15px;
}
.externalresearch-return img {
	width: 5%;
	height: auto;
	float: left;
	margin: -700px 0px 0px 50px;
}
@media (max-width: 1279px) {
	.externalresearch-return img {
		margin: -500px 0px 0px 50px;
	}
}
@media (max-width: 640px) {
	.listOfExternalResearch a {
		font-size: 15px;
	}
}
@media (max-width: 535px) {
	.listOfExternalResearch {
		padding: 15% 0 0px 5%;
	}
}

/*-- Podcasts--*/
.PodcastsBackground {
	width: 100vw;
	height: 100vh;
	font-family: "Avenir Next";
}
.listOfPodcasts {
	padding: 10% 0 0px 10%;
}
.listOfPodcasts a {
	font-size: 20px;
	color: #d84727;
}
.listOfPodcasts p {
	padding-bottom: 15px;
}
.podcasts-return img {
	width: 5%;
	height: auto;
	float: left;
	margin: -700px 0px 0px 50px;
}
@media (max-width: 1279px) {
	.podcasts-return img {
		margin: -500px 0px 0px 50px;
	}
}
@media (max-width: 640px) {
	.listOfPodcasts a {
		font-size: 15px;
	}
}
@media (max-width: 535px) {
	.listOfPodcasts {
		padding: 15% 0 0px 5%;
	}
}

/*-- Favorite Books --*/
.wall-background {
	background: url(/images/wall.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}
.books-background {	
	background: url(/images/newfavoritebooks.jpg) no-repeat center center;
	background-size: cover;
	margin-left: 12%;
	height: 850px;
	width: 550px;
	position: relative;
}
.first-row {
	padding-top: 27%;
}
.SteveJobs {
	width: 11%;
	height: 30%;
	margin-left: 22px;
	position: absolute;
}
.ElonMusk {
	width: 6%;
	height: 30%;
	margin-left: 83px;
	position: absolute;
}
.DethroningTheKing {
	margin-top: 14px;
	width: 6%;
	height: 28%;
	margin-left: 115px;
	position: absolute;
}
.TheOutsiders {
	margin-top: 30px;
	width: 5%;
	height: 26%;
	margin-left: 145px;
	position: absolute;
}
.ColdSteel {
	margin-top: 48px;
	width: 4%;
	height: 24%;
	margin-left: 170px;
	position: absolute;
}
.MrChina {
	margin-top: 48px;
	width: 4%;
	height: 24%;
	margin-left: 195px;
	position: absolute;
}
.TheBlackSwan {
	margin-top: 48px;
	width: 5%;
	height: 24%;
	margin-left: 219px;
	position: absolute;
}
.Innovators {
	margin-top: 48px;
	width: 7%;
	height: 24%;
	margin-left: 245px;
	position: absolute;
}
.Originals {
	margin-top: 13px;
	width: 6%;
	height: 28%;
	margin-left: 278px;
	position: absolute;
}
.DeepValueInvesting {
	margin-top: 12px;
	width: 3%;
	height: 28%;
	margin-left: 307px;
	position: absolute;
}
.YourMoneyandYourBrain {
	margin-top: 12px;
	width: 4%;
	height: 28%;
	margin-left: 322px;
	position: absolute;
}
.WealthWarWisdom {
	margin-top: 7px;
	width: 5%;
	height: 29%;
	margin-left: 347px;
	position: absolute;
}
.EverythingIsObvious {
	margin-top: 28px;
	width: 6%;
	height: 26%;
	margin-left: 375px;
	position: absolute;
}
.OneUpOnWallStreet {
	margin-top: 30px;
	width: 4%;
	height: 26%;
	margin-left: 408px;
	position: absolute;
}
.SimpleButNotEasy {
	width: 4%;
	height: 29%;
	margin-left: 430px;
	position: absolute;
}
.JohnNeffonInvesting {
	margin-top: 12px;
	width: 4%;
	height: 28%;
	margin-left: 453px;
	position: absolute;
}
.ContrarianInvestment {
	width: 6%;
	height: 29%;
	margin-left: 473px;
	position: absolute;
}
.ZebrainLionCountry {
	margin-top: 20px;
	width: 4%;
	height: 27%;
	margin-left: 505px;
	position: absolute;
}
.FinancialFolly {
	margin-top: 78%;
	width: 7%;
	height: 30%;
	margin-left: 24px;
	position: absolute;
}
.ValueInvesting1 {
	margin-top: 80%;
	width: 4%;
	height: 28%;
	margin-left: 65px;
	position: absolute;
}
.ZerotoOne {
	margin-top: 83%;
	width: 3%;
	height: 26%;
	margin-left: 87px;
	position: absolute;
}
.GreatCrash1929 {
	margin-top: 85%;
	width: 3%;
	height: 25%;
	margin-left: 105px;
	position: absolute;
}
.IntelligentInvestor {
	margin-top: 85%;
	width: 7%;
	height: 25%;
	margin-left: 121px;
	position: absolute;
}
.MostImportantThing {
	margin-top: 80%;
	width: 4%;
	height: 28%;
	margin-left: 161px;
	position: absolute;
}
.HardThingaboutHardThings {
	margin-top: 80%;
	width: 4%;
	height: 28%;
	margin-left: 181px;
	position: absolute;
}
.TomorrowsGold {
	margin-top: 80%;
	width: 5%;
	height: 28%;
	margin-left: 206px;
	position: absolute;
}
.FiveRules {
	margin-top: 81%;
	width: 5%;
	height: 27%;
	margin-left: 232px;
	position: absolute;
}
.YouCanBe {
	margin-top: 83%;
	width: 4%;
	height: 26%;
	margin-left: 258px;
	position: absolute;
}
.ValueInvesting2 {
	margin-top: 77%;
	width: 5%;
	height: 30%;
	margin-left: 278px;
	position: absolute;
}
.MoreThanYouKnow {
	margin-top: 80%;
	width: 4%;
	height: 28%;
	margin-left: 310px;
	position: absolute;
}
.PanicOnWallStreet {
	margin-top: 83%;
	width: 5%;
	height: 26%;
	margin-left: 335px;
	position: absolute;
}
.InvestingtheTempletonWay {
	margin-top: 78%;
	width: 5%;
	height: 29%;
	margin-left: 362px;
	position: absolute;
}
.ValueInvestors {
	margin-top: 78%;
	width: 4%;
	height: 29%;
	margin-left: 390px;
	position: absolute;
}
.TheBigShort {
	margin-top: 78%;
	width: 4%;
	height: 29%;
	margin-left: 412px;
	position: absolute;
}
.CompetitionDemystified {
	margin-top: 83%;
	width: 4%;
	height: 26%;
	margin-left: 439px;
	position: absolute;
}
.CommonStocksAnd {
	margin-top: 81%;
	width: 4%;
	height: 27%;
	margin-left: 461px;
	position: absolute;
}
.PoorCharliesAlmanack {
	margin-top: 74%;
	width: 8%;
	height: 32%;
	margin-left: 485px;
	position: absolute;
}

.SteveJobs:hover, .ElonMusk:hover, .DethroningTheKing:hover, .TheOutsiders:hover , .ColdSteel:hover,
.MrChina:hover, .TheBlackSwan:hover, .Innovators:hover, .Originals:hover, .DeepValueInvesting:hover, .YourMoneyandYourBrain:hover,
.WealthWarWisdom:hover, .EverythingIsObvious:hover, .OneUpOnWallStreet:hover, .SimpleButNotEasy:hover,
.JohnNeffonInvesting:hover, .ContrarianInvestment:hover, .ZebrainLionCountry:hover, .FinancialFolly:hover,
.ValueInvesting1:hover, .ZerotoOne:hover, .GreatCrash1929:hover, .IntelligentInvestor:hover, .MostImportantThing:hover,
.HardThingaboutHardThings:hover, .TomorrowsGold:hover, .FiveRules:hover, .YouCanBe:hover, .ValueInvesting2:hover,
.MoreThanYouKnow:hover, .PanicOnWallStreet:hover, .InvestingtheTempletonWay:hover, .ValueInvestors:hover, .TheBigShort:hover,
.CompetitionDemystified:hover, .CommonStocksAnd:hover, .PoorCharliesAlmanack:hover
 {
	background-color: orange;
	opacity: 0.5;
}

.content {
	position: absolute;
	width: 35%;
	margin-top: -700px;
	margin-left: 60%;
	color: white;
	font: "Avenir Next";
}
.content h4 {
	font-weight: 100;
	text-decoration: underline;
}

.favouritebook-return img {
	width: 5%;
	height: auto;
	float: left;
	margin: -700px 0px 0px 50px;
	position: absolute;
}

@media (max-width: 1030px) {
	.content {
		position: absolute;
		width: 40%;
		margin-top: -700px;
		margin-left: 50%;
		background-color: black;
		opacity: 0.6;
	}
}

/*-- Favorite Articles --*/
.ArticlesBackground {

}
.listOfArticles {
	padding: 10% 0 0px 10%;
}
.listOfArticles a {
	font-size: 20px;
	color: #d84727;
}
.listOfArticles p {
	padding-bottom: 15px;
}
.articles-return img {
	width: 5%;
	height: auto;
	float: left;
	margin: 0px 0px 0px 50px;
}
@media (max-width: 640px) {
	.listOfArticles a {
		font-size: 15px;
	}
}
@media (max-width: 535px) {
	.listOfArticles {
		padding: 15% 0 0px 5%;
	}
}