<h1> Uploading Research </h1>
<p> These uploads by the admin will show on internalresearch.html where the clients can then download the files</p>

<form ng-submit="upload()">
	<h6>Name of file: </h6>
	<input ng-model="pdfName" type="text"/>

	<h6>Short description of the file.</h6>
	<textarea ng-model="pdfDescription"></textarea>

	<input id="file-selector" type="file">
	<button class="upload-button" type="submit">
		<h4>upload</h4>
	</button>

	<h6>File URL:</h6>
    <span id="linkbox"></span>
</form>

