<div class="carandtulips">
	<div class="container">
		<img src="/images/IMG_2039.jpg" alt="...">
		<div class="tulips">
			<h3>Art: Tulips – by <a href="http://www.richardscott.com/">Richard Scott</a></h3>
		 
			<p>In his book “Extraordinary popular delusions and the madness of crowds”, Charles Mackay wrote as early as 1841 about the many different bubbles that had happened in the preceding 200-odd years.  One of the better-known bubbles is Tulipmania.</p>
			 
			<p>The Netherlands is famous for its tulips, which were introduced to Western Europe in 1559 – most probable from Turkey.  In 1593, records show that Carolus Clusius introduced the tulip to the botanical gardens of Leiden, The Netherlands.  Initially, tulips were exclusively sought after by the wealthy, especially in The Netherlands and Germany.  Rich people in Amsterdam sent for the bulbs direct to Constantinople and paid the most extravagant prices for them.</p>
			 
			<p>Until 1634, the tulip’s reputation increased annually, until it was deemed a proof of bad taste in any man of fortune to be without a collection of them.  Many educated men were passionately fond of tulips and the rage possessing these men soon caught the middle classes of society and merchants and shopkeepers, even of moderate means, began to vie each other in the rarity of these flowers.  Bulbs that were still in the ground and had not even flowered yet were being sold forward through exchanges.   Prices followed people’s sentiment and went through the roof.  One single root of the rare species called the Viceroy was sold for 2,500 florins (±U$1,250).</p>
			 
			<p>People of all grades converted property to cash in on this investment opportunity.  While it is still unclear what exactly popped the tulip bubble, fact is that in 1637 it all ended and The Netherland’s economic life went into depression.</p> 
			 
			<p>We remind ourselves that we should not blindly follow the crowd when it comes to new fades and that often, the wisdom of crowds is wrong.   We have not downloaded Pokemon Go.</p>

		</div>
		<div class="car">
			<h3>Car – by <a href="http://www.richardscott.com/">Richard Scott</a></h3>
			 
			<p>In the early 20th century, the introduction of the car started to shape cities.  In 1907, the United States produced 45,000 cars – by 1935, this number had increased to almost 4 million.  With the car, consumers’ mobility increased and allowed for easier access to remote places, resulting in the spreading of cities into suburbia.</p>
			 
			<p>We remind ourselves that we may not always be able to see consequences of consequences when it comes to new trends.  We are fully aware that it is very hard to get timing right – new trends can take longer to take off but once they do, there tends to be exponential growth.</p>
		</div>
	</div>
</div>
<div class="return">   
	<a href="#/">
		<img src="/images/returnarrow.png">
	</a>
</div>