<!--Nav bar-->
<header class="navbar navbar-fixed-top nav-white">
	<div class="navcontainer">
		<div class="disclaimer-navbar">
			<!-- <a class="navbar-brand scroll-top" href="#/">
				<img class="navbar-logo" alt="Brand" src="/images/globe.png">
			</a> -->
			<a class="navbarcroll-top" href="#/">
				<img class="navbar-logo1" alt="Brand" src="/images/pendulumadvisors.png">
			</a>
		</div>
		
</header>
<!-- End of Nav bar-->

<div class="disclaimer">
	<h3>Disclaimer</h3>
	<p>The information contained on this website is of a general nature and intended as a guide only. It is neither to be construed as financial advice nor to be regarded as a definitive analysis of any financial, legal or other issue.<p>

	<p>Pendulum Advisors (Pty) Limited (“Pendulum Advisors”) and its directors, officers and employees shall not be responsible and disclaims all liability for any loss, damage (whether direct, indirect, special or consequential) and/or expense of any nature whatsoever, which may be suffered as a result of or which may be attributable, directly or indirectly, to the use of, or reliance upon any information, links or service provided through this website.<p>

	<p>Without limiting the generality of the aforesaid, the information provided on this website is intended to provide you, the user, with objective information about Pendulum Advisors’s services and is not intended to constitute a recommendation, guidance or proposal in regard to the suitability of any service/product in respect of any financial need you may have. While every effort has been made to ensure the accuracy of information contained on this website, Pendulum Advisors (Pty) Ltd and its directors, officers and employees provide no representation or warranty, express or implied, regarding the accuracy, completeness or correctness of information contained in this website.</p>
</div>

<div class="disclaimer-return">   
	<a href="#/">
		<img src="/images/returnarrow.png">
	</a>
</div>