<div class="ExternalResearchBackground">
	<div class="heading">
		<p>External Research</p>
	</div>
	<div class="listOfExternalResearch">

		<div class="first">
			<a href="/ExternalResearch/A long look at short-termism.pdf">A long look at short-termism</a>
			<p>Questioning the Premise
			<br>By: Michael J. Mauboussin and Dan Callahan, CFA</p>
		</div>

		<div class="second">
			<a href="/ExternalResearch/Calculating ROIC.pdf">Calculating ROIC</a>
			<p>How to Determine ROIC and Address Common Issues
			<br>By: Michael J. Mauboussin and Dan Callahan, CFA</p>
		</div>
		<div class="thrid">
			<a href="/ExternalResearch/Capital allocation outside the US.pdf">Capital allocation outside the US</a>
			<p>Evidence, Analytical Methods, and Assessment Guidance
			<br>By: Michael J. Mauboussin and Dan Callahan, CFA</p>
		</div>
		<div class="fourth">
			<a href="https://www.gsb.stanford.edu/insights/research-art-good-investment">Is art a good investment?</a>
			<p>A group of researchers say you should buy paintings if you like looking at them, but not to make money.
			<br>by Stanford Graduate School of Business</p>
		</div>
		<div class="fifth">
			<a href="/ExternalResearch/Buffett1984.pdf">The Superinvestors of Graham and Doddsville</a>
			<p>by Warren Buffett</p>
		</div>
		<div class="sixth">
			<a href="https://faculty.haas.berkeley.edu/odean/Papers%20current%20versions/Individual_Investor_Performance_Final.pdf">Trading is hazardous to your wealth: the common stock investment performance of individual investors</a>
			<p>by Haas Faculty, Berkeley</p>
		</div>
		<div class="seventh">
			<a href="/ExternalResearch/WhatHasWorkedFundOct14Web.pdf">What has worked in investing?</a>
			<p>Studies of Investment Approaches and Characteristics Associated with Exceptional Returns
			<br>by Tweedy Brown<p>
		</div>

	</div>
</div>
<div class="externalresearch-return">   
	<a href="#/research">
		<img src="/images/returnarrow.png">
	</a>
</div>