<div class="ExternalResearchBackground">
	<div class="heading">
		<p>External Research</p>
	</div>
	<div class="listOfExternalResearch">

		<div class="first">
			<a href="/ExternalResearch/A long look at short-termism.pdf">A long look at short-termism</a>
			<p>Questioning the Premise
			<br>By: Michael J. Mauboussin and Dan Callahan, CFA</p>
		</div>

		<div class="second">
			<a href="/ExternalResearch/Calculating ROIC.pdf">Calculating ROIC</a>
			<p>How to Determine ROIC and Address Common Issues
			<br>By: Michael J. Mauboussin and Dan Callahan, CFA</p>
		</div>
		<div class="thrid">
			<a href="/ExternalResearch/Capital allocation outside the US.pdf">Capital allocation outside the US</a>
			<p>Evidence, Analytical Methods, and Assessment Guidance
			<br>By: Michael J. Mauboussin and Dan Callahan, CFA</p>
		</div>

	</div>
</div>
<div class="externalresearch-return">   
	<a href="#/research">
		<img src="/images/returnarrow.png">
	</a>
</div>