<div class="ArticlesBackground">
	<div class="heading">
		<p>Favourite Articles</p>
	</div>
	
	<div class="listOfArticles">

		<div class="first">
			<a href="">Title</a>
			<p>Description
			<br>By: </p>
		</div>

		<div class="second">
			<a href="">Title</a>
			<p>Description
			<br>By: </p>
		</div>
		<div class="thrid">
			<a href="">Title</a>
			<p>Description
			<br>By:</p>
		</div>

	</div>
</div>

<div class="articles-return">   
	<a href="#/research">
		<img src="/images/returnarrow.png">
	</a>
</div>	

