<div class="ArticlesBackground">
	<div class="heading">
		<p>Favourite Articles</p>
	</div>
	
	<div class="listOfArticles">
	<ul>
		<li>
			<a href="http://a16z.com/2016/09/01/marks-offmark/">When is a "Mark" Not a Mark?</a>
			<p>Scott Kupor, Andreessen Horowitzs</p>
		</li>	
		<li>
			<a href="http://www.wsj.com/articles/andreessen-horowitzs-returns-trail-venture-capital-elite-1472722381">Andreessen Horowitzs returns trail venture capital elite</a>
			<p>The Wall Street Journal</p>
		</li>
		<li>
			<a href="http://www.bengrahaminvesting.ca/Resources/interviews.htm">Interviews with value investors</a>
			<p>Ben Graham centre for value investing </p>
		</li>
		<li>
			<a href="http://www.bhorowitz.com/">Ben's Blog</a>
			<p>Ben Horowitz</p>
		</li>
		<li>
			<a href="https://www.tesla.com/blog/master-plan-part-deux">Master plan, part deux</a>
			<p>Elon Musk</p>
		</li>
		<li>
			<a href="https://googleblog.blogspot.co.za/2016/04/this-years-founders-letter.html">Founders' letter</a>
			<p>Sergei Brin and Larry Page</p>
		</li>
		<li>
			<a href="http://www.kpcb.com/internet-trends">Internet Trends</a>
			<p>Mary Meeker</p>
		</li>
		<li>
			<a href="http://www.huizenmarkt-zeepbel.nl/?s=herengracht">Property pricing trends</a>
			<p>House prices on Herengracht in Amsterdam since 1650</p>
		</li>
		<li>
			<a href="https://www.americancentury.com/content/dam/americancentury/ipro/pdfs/resourceedge/RE_Time_Tested_Investment_Strategies_for_the_Long_Term.pdf">Time tested investment strategies</a>
			<p>American Century Investments</p>
		</li>
		<li>
			<a href="http://longleafpartners.com/sites/default/files/articles/the-manual-of-ideas_josh-shores_2015-07.pdf">The manual of ideas on wide moat investing</a>
			<p>Longleaf Partners</p>
		</li>
		<li>
			<a href="https://www.valuepartners-group.com/en/investment-insights/insights/">Value Partners Hong Kong insights</a>
			<p></p>
		</li>
		<li>
			<a href="http://www.arisaig-partners.com/our-diary-2016-july.php">the Arisaig Partners monthly diaries on emerging market consumer companies</a>
			<p></p>
		</li>
	</ul>
	</div>
</div>

<div class="articles-return">   
	<a href="#/research">
		<img src="/images/returnarrow.png">
	</a>
</div>	

