<div class="wall-background">
	<div class=heading>
		<p>Favorite Books</p>
	</div>
	<div class="books-background">
		<div class="first-row">
			<div id="SteveJobs" class="SteveJobs">
			</div>

			<div class="ElonMusk">
			</div>

			<div class="DethroningTheKing">
			</div>

			<div class="TheOutsiders">
			</div>

			<div class="ColdSteel">
			</div>
		</div>
	</div>

	<!-- when the toggle images button is clicked, a transparent black background should appear with a dog picture centered on top of it. when the background is clicked again, the image and background should go away. -->

</div>
<div class="lightbox" id="lightbox">
	<div id="image" class="lightbox-contents">
		<img src="http://www.lovethispic.com/uploaded_images/53451-Cute-Dog.jpg" alt="">
	</div>
	<div id="screen" class="lightbox-bg"></div>
</div>