<div class="wall-background">
	<div class="heading">
		<p>Favourite Books</p>
	</div>

	<div class="books-background">
		<div class="first-row">
			<div ng-repeat="b in books" ng-class="b.class" ng-mouseenter="bookHovered(b)" ng-mouseleave="bookNotHovered(b)">
			</div>
		</div>
	</div>

	<div class="content">
		<h4>{{ hoveredBook.title }}</h4>
		<p>{{ hoveredBook.author }}</p>
		<p>{{ hoveredBook.summary }}</p>
		<p>{{ hoveredBook.quote }}</p>
	</div>

	<div class="favouritebook-return">   
		<a href="#/research">
			<img src="/images/returnarrow.png">
		</a>
	</div>
</div>
