<div class="heading">
	<p>Gallery</p>
</div>
<script>
      $(document).ready(function(){
        $('ul.first').bsPhotoGallery({
          "classes" : "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
          "hasModal" : true,
          // "fullHeight" : false
        });
      });
</script>
<div class="gallery">
	<ul class="row first">
		<li>
			<img alt=""  src="/images/open.jpg">
		</li>
		<li>
			<img alt="Team" src="/images/team.jpg">
		</li>
		<li>
			<img alt="" src="/images/enter.jpg">
		</li>
		<li>
			<img alt="Kitchen" src="/images/kitchen.jpg">
		</li>
		<li>
			<img alt="Plants"  src="/images/plants.jpg">
		</li>
		<li>
			<img alt="Team"  src="/images/team2.jpg">
		</li>
		<li>
			<img alt="Ceiling with books"  src="/images/bookceiling.jpg" >
		</li>
		<li>
			<img alt="Come and have a coffee with us!" src="/images/IMG_2135.jpg">
		</li>
		<li>
			<img alt="" src="/images/IMG_2041.jpg">
		</li>
		<li>
			<img alt="" src="/images/IMG_2039.jpg">
		</li>
		<li>
			<img alt=""  src="/images/dollsfar.jpg">
		</li>
		<li>
			<img alt="First time I went to Moscow was 2006, when I bought the Russian dolls." src="/images/dollsclose.jpg">
		</li>

		<li>
			<img alt="In 2006, I attended the Berkshire Hathaway annual general meeting in Omaha, Nebraska.  I had the pleasure of having both Warren Buffett, Charlie Munger and Bill Gates signing something - Buffett and Gates signed South African bank notes - Munger signed his biography 'damn right'" src="/images/moneycenter.jpg">
		</li>
		<li>
			<img alt=""  src="/images/meeting.jpg">
		</li>
		<li>
			<img alt=""  src="/images/IMG_2068.jpg">
		</li>
		<li>
			<img alt=""  src="/images/IMG_2072.jpg">
		</li>
		<li>
			<img alt=""  src="/images/IMG_2083.jpg">
		</li>
		<li>
			<img alt=""  src="/images/clocks.jpg">
		</li>
	</ul>

	<div class="galleryreturn">   
		<a href="#/">
			<img src="/images/returnarrow.png">
		</a>
	</div>
</div> <!-- /container -->

	