<!--Nav bar-->
<header class="navbar navbar-fixed-top nav-white">
	<div class="navcontainer">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand scroll-top" href="#/">
				<img class="navbar-logo" alt="Brand" src="/images/pendulum.png">
			</a>
			<a class="navbar-brand2 scroll-top" href="#/">
				<img class="navbar-logo1" alt="Brand" src="/images/pendulumadvisors.png">
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="gotoElement('about')">About</a></li>
				<li><a ng-click="gotoElement('team')">Our Team</a></li>
				<li><a ng-click="gotoElement('space')">Gallery</a></li>
				<li><a ng-click="gotoElement('contact')">Contact</a></li>
				<li><a href="#/research" class="scroll-link">Research</a></li>
				<button type="button" class="btn btn-default navbar-btn">
				<a href="#/login">Client Login</a></button>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</header>
<!-- End of Nav bar-->

<!-- Landing -->
<div class="landing">
	<!-- <div class="heading">
		<h1><i>"The pendulum always swings"</i></h1>
	</div> -->
	<section id="section03" class="demo">
	<a ng-click="gotoElement('about')"><span></span></a>
	</section>
</div>

<!-- About Pendulum Advisors -->
<div class="wood-column">
	<div class="container">
		<div class="row">
			<div id="about" class="aboutRow">
				<div class="col-md-12">
					<img class="logo" src="/images/logo.png">
				</div>
			</div>
			<div class="row">
				<div class="aboutPA">
					<p> [We are] focused on both global public and private equity. Public equity focus is a value-based approach focused on quality, defensible economic competitive advantaged companies. Concentrated portfolio constructed based on price downside vs. calculated intrinsic value upside. [Our focus] is on 3-5 years in portfolio and absolute returns of at least 8% p.a. in USD over 3-year rolling period. Private equity focus is longer term with absolute return benchmark of at least 15% p.a.
					</p>
					<!-- <button type="button" class="btn btn-default">
						<a href="#/learnmore">Learn more</a>
					</button> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Our Team -->
<div class="wood-column">	
	<div class="container">
		<div class="row">
			<div id="team" class="ourTeam">
				<h1>Our Team</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<img src="/images/ArjanBuikema1.jpg" alt="..." class="teamImg">
			</div>
			<div class="col-md-9 ">
				<h2> <b>Arjan Buikema</b> | Founder</h2>
			
				<p>While completing a Bsc. in Business Economics in 1993, Arjan moved to Johannesburg as an intern at ABN Amro (then Huysamer Stals), South Africa's largest Afrikaans-speaking broking firm.  While there, he wrote his thesis on the different risks involved in the markets in which the company provided services.  At the end of 1993, he moved permanently to South Africa to become an investment analyst at ABN Amro, focusing on Electronics and Electrical and Publishing and Printing sectors.  In 1996, he joined Societe Generale South Africa, focusing on the small and mid-sized companies. 
				<br>In 1999, he moved to Cape Town, having joined Old Mutual Asset Managers.  While there, he researched the Media and Internet sectors.  After six years at Old Mutual, Arjan joined the international team at Sanlam Investment Managers, where his focus was more broadly on consumer-related industries across the globe, particularly focused on Asia.  Early 2009, he joined Naspers' Internet division in a supporting role to help the group with its M&amp;A strategy.  In 2012, he founded Pendulum Advisors, a specialist boutique focusing on supporting clients with the their investment decisions through extensive due diligence.</p>
				<p><b>Email:</b> Arjan@pendulumadvisors.com</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<img src="/images/JamesCampbell1.jpg" alt="..." class="teamImg">
			</div>
			<div class="col-md-9">
				<h2><b>James Campbell</b> | Director</h2>
				<p>​James completed his B.Comm majoring in Financial Accounting and Investment Management at the University of Stellenbosch. He then went on to complete his Honors in Financial Analysis and Portfolio Management as well as a Masters specialising in Investment Management at the University of Cape Town. James joined Pendulum Advisors part-time during his Honors, and joined full time as an Equity Analyst after completing his Masters in 2015. ​Currently a CFA level 3 candidate</p>
				<p><b>Email:</b> James@pendulumadvisors.com</p>
			</div>
		</div>
		<div class="row">
			<div class="Gerard">
				<div class="col-md-3">
					<img src="/images/GerardPacak.jpg" alt="..." class="teamImg">
				</div>
				<div class="col-md-9" >
					<h2><b>Gerard Pacak</b> | Director</h2>
					<p>Gerard completed his B.Comm management studies followed by Honors in Financial Analysis and Portfolio Management at the University of Cape Town, graduating in 2014. He passed CFA level 1 before moving to the UK for year, where he worked at Saracens RFC in the marketing team for 5 months. In January 2015, Gerard moved back to South Africa to join Pendulum Advisors.</p>
					<span><p><b>Email:</b> Gerard@pendulumadvisors.com </p></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="intern">
				<div class="col-md-3">
					<img src="/images/DanielShaw2.jpg" alt="..." class="internsImg">
					<h3><b>Daniel Shaw</b> | Agriculture Analyst</h3>
					<p>University of Stellenbosch</p>
				</div>
				<div class="col-md-3">
					<img src="/images/FrederickChola.jpg" alt="..." class="internsImg">
					<h3><b>Fredrick Chola</b> | Intern '16</h3>
					<p>University of Cape Town</p>
				</div>
				<div class="col-md-3">
					<img src="/images/Tatenda.jpg" alt="..." class="internsImg">
					<h3><b>Tatenda Chikombero</b> | Intern '16</h3>
					<p>University of South Africa </p>
				</div>
			
				<div class="col-md-3">
					<img src="/images/BryanWindsor.jpg" alt="..." class="internsImg">
					<h3><b>Bryan Windsor</b> | Intern Summer '16</h3>
					<p>Princeton University </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="intern">
				<div class="col-md-3">
					<img src="/images/JohnnyGrassi.jpg" alt="..." class="internsImg">
					<h3><b>Johnny Grassi</b> | Intern Summer '16</h3>
					<p>University of Virginia</p>
				</div>
				<div class="col-md-3">
					<img src="/images/ParkerSmith1.jpg" alt="..." class="internsImg">
					<h3><b>Parker Smith</b> | Intern Summer '16</h3>
					<p>University of North Carolina </p>
				</div>
				<div class="col-md-3">
					<img src="/images/JodieRyu1.jpg" alt="..." class="internsImg">
					<h3><b>Jodie Ryu</b> | Intern Summer '16</h3>
					<p>University of Virginia </p>
				</div>
				<div class="col-md-3">
					<div class="hiringImg">
						<img src="/images/hiring.png" alt="..." class="internsImg">
						<h3><b>This could be you!</b></h3>
						<p>Contact us if interested</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Our Space -->	
<div class="wood-column">
	<div class="container">
		<div class="row">
			<div id="space" class="ourSpace">
				<h1>Our Office Space</h1>

			<div class="col-xs-6 col-sm-4 col-md-4">  
				<div class="thumbnail">
					<div class="caption">
						<a href="http://www.richardscott.com/">
						<h4>Art: Car &amp; Tulips – by Richard Scott</h4></a>
						<p><a href="http://www.richardscott.com/">http://www.richardscott.com/<a><p>
						<a href="/#/carandtulips" class="label label-default">Click to read</a>

					</div>
						<img src="/images/IMG_2041.jpg" alt="...">
				</div>
				<div class="thumbnail">
					<div class="caption">
						<h4>Art: Communist posters</h4>
						<p>Winston Churchill once remarked that the inherent vice of capitalism is the unequal sharing of blessings, while the inherent virtue of socialism is the equal sharing of miseries.</p>
 
						<p>We remind ourselves that sometimes, we should not pay too much attention to what politicians are saying but rather watch what business is doing, at night.</p>
 
						<p>None of the socialistic/communistic experiments done over the past 170 years on a grand scale, since the introduction of socialism in 1860 in France has stood the test of time.  As Churchill also remarked, “you don’t make the poor richer by making the rich poorer”.  We do, however, like the propaganda posters used by social and communist revolutions (and the colours brighten up our board room).</p>
					</div>
						<img src="/images/redwall.jpg" alt="...">
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-4">  
				<div class="thumbnail">
					<!-- <div class="caption">
						<h4>Thumbnail Headline</h4>
						<p>short thumbnail description</p>
					</div> -->
						<img src="/images/meeting.jpg" alt="...">
				</div>
				<div class="thumbnail">
					<div class="caption">
						<h4>Bull</h4>
						<p><a href="http://efinance.org.cn/cn/fm/The%20Equity%20Premium%20Stock%20and%20Bond%20Returns%20since%201802.pdf">The Equity Premium Stock and Bond Returns since 1802.pdf</a></p>
						<p>Equities have, over time, been the best performing asset class with compound real, after-tax returns of 7.3% per annum between 1802 and 1990, outperforming long-term government bonds and short-term government bonds by 3.6% and 4.5%.</p>

						<p>While we remind ourselves that markets don’t go up in straight lines and at times, one has to be cautious, over the long term, equity markets will trend higher – be bullish.</p>
					</div>
						<img src="/images/IMG_2043.jpg" alt="...">
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-4">  
				<div class="thumbnail">
					<div class="caption">
						<h4>See our collection</h4>
						<h3><a href="/#/research" class="label label-default">Research</a></h3>
					</div>
						<img src="/images/library.jpg" alt="...">
				</div>
				<div class="thumbnail">
					<!-- <div class="caption">
						<h4></h4>
						<p>short thumbnail description</p>
					</div> -->
						<img src="/images/plants.jpg" alt="...">
				</div>
			</div>

			<button type="button" class="btn btn-default">
				<a href="#/gallery">See more photos</a>
			</button>
			</div>
		</div>
	</div> <!--End of container-->
</div>

<div class="wood-column-spacing">
	<div class="container">
		<div class="spacing">
		</div>
	</div>
</div>

<!-- Location-->
<div name="contact" class="footer" id="contact">
	<!-- <img src="/images/woodpanel.jpg"> -->
	<div class="col-md-12">
		<h1>Contact Us</h1>
		<p><strong>Address:</strong> <br> Unit 206 Pam Golding on Main, <br>325 Main road, <br>Kenilworth, Cape Town, South Africa</p>
		<p><strong>Email:</strong><br>James@pendulumadvisors.com</p>
		
	</div>
	
	<!-- <div class="googleMapsColumn">
		<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>

		<div style='overflow:hidden;height:280px;width:350px;'><div id='gmap_canvas' style='height:280px;width:350px;'></div>
		<div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div>
		<div><small><a href="https://termsandcondiitionssample.com">terms and conditions generator</a></small></div>
		<style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>

		<script type='text/javascript'>
			function init_map(){
				var myOptions = {
					zoom:4,center:new google.maps.LatLng(-33.9959929,18.469094499999983),mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
				marker = new google.maps.Marker({
					map: map,position: new google.maps.LatLng(-33.9959929,18.469094499999983)
				});
				infowindow = new google.maps.InfoWindow({
					content:'<strong>Pendulum Advisors</strong><br>Unit 206 Pam Golding on Main, 325 Main road, Kenilworth, Cape Town, South Africa<br>'});
				google.maps.event.addListener(marker, 'click', function(){
					infowindow.open(map,marker);
				});
				infowindow.open(map,marker);
			}
			google.maps.event.addDomListener(window, 'load', init_map);</script>
		</div>
		</div> -->
	
</div>
<!-- End Location Row -->
<div class="copyright">
	<p>Copyright &copy; 2012 Pendulum Advisors | <a href="/#/disclaimer">Disclaimer</a> | Website Designed by <a href="http://jodieryu.github.io">Jodie Ryu</a> and <a href="https://www.linkedin.com/in/parker-smith-a397909a">Parker Smith</a></p>
</div>



