<div class="loginpage">

  <div class="closedsafe">
    <form ng-submit="logIn()">
      
      <div class="emailBlock">
        <input class="emailInput" ng-model="email" placeholder="Email">
      </div>

      <div class="psBlock">
        <input class="psInput" type="password" ng-model="password" placeholder="Password">
        <button type="submit">Log in</button>
      </div>
    </form>

<!--     <div>
      <p>Email: Arjan@pendulumadvisors.com for access</p>
    </div> -->
    
  </div>

  <div class="login-return">   
    <a href="#/">
      <img src="/images/returnarrow.png">
    </a>
  </div>

</div>

<div ng-show="errorMessage" class="alert alert-danger">
	{{errorMessage}}
</div>
