<div class="mainPage">
	<!--Nav bar-->
	<header class="navbar navbar-fixed-top hidden-xs nav-white">
		<div class="navcontainer">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand scroll-top" href="#/">
					<img class="navbar-logo" alt="Brand" src="/images/globe.png">
				</a>
				<a class="navbarcroll-top" href="#/">
					<img class="navbar-logo1" alt="Brand" src="/images/pendulumadvisors.png">
				</a>
			</div>

			<form ng-submit="logout()">
				<ul class="nav navbar-nav navbar-right hidden-xs">
					<button class="logoutBtn">Logout</a></button>
				</ul>
			</form>

		</div><!-- /.container-fluid -->
	</header>
	<!-- End of Nav bar-->

	<!-- Landing: Open Safe -->
	<div class="opensafe">
		<img class="opensafe" src="/images/opensafe.jpg">
		<h1>Research</h1>

	<!-- Start of research list downloads -->
		<div class="researchList">
			<p> Sample pdf blah
			<a href="pdfs/sample.pdf" class="btn btn-default" file-name="'fileName.extension'"  ng-click="getFile()" file-download="myBlobObject"><i class="fa fa-file-excel-o"></i>Download</a></p>

			<p> Another pdf tester lala
			<a href="pdfs/SubleaseAgreement.pdf" class="btn btn-default" file-name="'fileName.extension'"  ng-click="getFile()" file-download="myBlobObject"><i class="fa fa-file-excel-o"></i>Download</a></p></p>
		</div>
	</div>

</div>

