<div class="mainPage">
	<!--Nav bar-->
	<header class="navbar navbar-fixed-top nav-white">
		<div class="navcontainer">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> -->
				<a class="navbar-brand scroll-top" href="#/">
					<img class="navbar-logo" alt="Brand" src="/images/pendulum.png">
				</a>
				<a class="navbar-brand2 scroll-top" href="#/">
					<img class="navbar-logo1" alt="Brand" src="/images/pendulumadvisors.png">
				</a>
			</div>

			<form ng-submit="logout()">
				<ul class="nav navbar-nav navbar-right">
					<button class="logoutBtn">Logout</a></button>
				</ul>
			</form>

		</div><!-- /.container-fluid -->
	</header>
	<!-- End of Nav bar-->

	<!-- Landing: Open Safe -->
	<div class="row">
		<div class="opensafe">
			<img class="opensafe" src="/images/newopensafe.png">
		</div>
	</div>

	<div class="row">
		<div class="InternalResearchBackground">
			<div class="heading">
				<p>Internal Research</p>
			</div>
		<!-- Start of research list downloads -->
			<div class="InternalResearchList">
				<div class="browse-list" ng-repeat="pdf in pdfsInternalResearch track by $index">
					<div class="row">
						<div class="browse-list-right">
							{{ pdf.pdf_name }} <button><a href="{{ pdf.pdf_link }}"> Click to open </a></button>
							<!-- <h5><strong>PDF Description</strong></h5>
							<p>{{ pdf.pdf_description }}</p> -->
						</div>
					</div>
				</div>
			</div>
		<!-- End of research list downloads -->	
		</div>
	</div>

</div>

