<div class="PodcastsBackground">
	<div class="heading">
		<p>Podcasts</p>
	</div>

	<div class="listOfPodcasts">
		<div class="first">
			<a href="https://soundcloud.com/a16z/as-the-pendulum-swings">a16z Podcast: Startups and Pendulum Swings Through Ideas, Time, Fame, and Money</a>
			<p>with Marc Andreessen and Balaji Srinivasan</p>
		</div>

		<div class="second">
			<a href="https://soundcloud.com/ecorner/ben-horowitz-nailing-the-hard">Nailing the Hard Things</a>
			<p>with Ben Horowitz and Tom Byers</p>
		</div>

		<div class="third">
			<a href="https://soundcloud.com/ecorner/elon-musk-steve-jurvetson-elon">Elon Musk's Vision for the Future</a>
			<p>with Elon Musk and Steve Jurvetson</p>
		</div>

	</div>
</div>

<div class="podcasts-return">   
	<a href="#/research">
		<img src="/images/returnarrow.png">
	</a>
</div>