<div class="PodcastsBackground">
	<div class="heading">
		<p>Podcasts</p>
	</div>

	<div class="listOfPodcasts">
		<div class="firstPodcast">
			<div class="col-md-6">
				<a href="https://soundcloud.com/a16z/as-the-pendulum-swings">16z Podcast: Startups and Pendulum Swings Through Ideas, Time, Fame, and Money</a>
				<p>with Marc Andreessen and Balaji Srinivasan</p>
				</div>
			<div class="col-md-6">
				<iframe width="80%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/266636626&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			</div>
		</div>

		<div class="secondPodcast">
			<div class="col-md-6">
				<a href="https://soundcloud.com/ecorner/ben-horowitz-nailing-the-hard">Nailing the Hard Things</a>
				<p>with Ben Horowitz and Tom Byers</p>
			</div>
			<div class="col-md-6">
				<iframe width="80%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/178742666&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			</div>
		</div>

		<div class="thirdPodcast">
			<div class="col-md-6">
				<a href="https://soundcloud.com/ecorner/elon-musk-steve-jurvetson-elon">Elon Musk's Vision for the Future</a>
				<p>with Elon Musk and Steve Jurvetson</p>
			</div>
			<div class="col-md-6">
				<iframe width="80%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237219684&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			</div>
		</div>

	</div>
</div>

<div class="podcasts-return">   
	<a href="#/research">
		<img src="/images/returnarrow.png">
	</a>
</div>