<div class="wall-background">

	<div class="bookshelf">
		<div class="bookshelfRow1">
			<div class="shelf1">
				<a href="#/main">Internal Research</a>
			</div>
			<div class="shelf2">
				<a href="#/ExternalResearch">External Research</a>
			</div>
		</div>

		<div class="bookshelfRow2">
			<div class="shelf3">
				<a href="#/podcasts">Podcasts</a>
			</div>
			<div class="shelf4and5">
				<a href="#/favoriteBooks">Favorite Books</a>
			</div>
		</div>

		<div class="bookshelfRow3">
			<div class="shelf6">
				<a href="#/favoriteArticles">Favorite Articles</a>
			</div>
		</div>

		<div class="lastshelf">
			<a href="#">Share your ideas with us!</a>
		</div>
	</div>

	<div class="return">   
		<a href="#/"> <- Return home</a>
	</div>
</div>