<div class="wall-background">

	<div class="bookshelf">
		<div class="bookshelfRow1">
			<div class="shelf1">
				<a href="#/main">Internal Research</a>
			</div>
			<div class="shelf2">
				<a href="#/ExternalResearch">External Research</a>
			</div>
		</div>

		<div class="bookshelfRow2">
			<div class="shelf3">
				<a href="#/podcasts">Podcasts</a>
			</div>
			<div class="shelf4and5">
				<a href="#/favoriteBooks">Favourite Books</a>
			</div>
		</div>

		<div class="bookshelfRow3">
			<div class="shelf6">
				<a href="#/favoriteArticles">Favourite Articles</a>
			</div>
		</div>

		<div class="lastshelf">
			<a href="mailto:James@pendulumadvisors.com?Subject=Idea's%20Subject">Share your ideas with us!</a>
		</div>
	</div>

	<div class="book-return">   
		<a href="#/">
			<img src="/images/returnarrow.png">
		</a>
	</div>
</div>