<div class="signup-box">
	<div class="signup-header">
		<h1>Sign Up Clients</h1>
	</div>
	<form ng-submit="signUp()">
		<div>
		<label>First Name</label>
		<input type="text" ng-model="newFirstName" placeholder="John"/>
		</div>
		<div>
		<label>Last Name</label>
		<input type="text" ng-model="newLastName" placeholder="Doe"/>
		</div>
		<div>
		<label>Email Address</label>
		<input type="email" ng-model="newEmail" placeholder="johndoe@email.com"/>
		</div>
		<label>Password</label>
		<input type="password" ng-model="newPassword" placeholder="Password"/>
		<div>
		<button type="submit">
			<h4>Sign Up</h4>
		</button>
		</div>
	</form>
</div>